:root{
    --bg: #ffffff;
    --text: #000000;
    --nav-bg: #333333;
    --nav-text: #ffffff;
    --card: #f4f4f4f4;
}

body.dark {
    --bg:#12121212;
    --text:#fff;
    --nav-bg:#1e1e1e;
    --nav-text :#ffffff;
    --card:#2a2a2a;   
}

/* Global Style */
body{
   margin: 0;
   font-family: Arial, sans-serif;
   background-color: var(--bg);
   color: var(--text);
   transition: background 0.3s ease, color 0.3s ease;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Centers items horzontally */
    align-items: center; /* Centers items vertically */
    padding: 15px 40px ;
    gap: 20px; /* Adds space between the navbar options */
    background: var(--nav-bg);
    color: var(--nav-text);
    transition: background 0.3s ease;
}

.navbar a {
    color: white;
    margin-right: 15px;
}
.nav- :left a{
    color: var(--nav-text);
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}
.nav- :left a:hover{
    opacity: 0.7;
}
#theme switch{
display: none;
align-items: center;
}
/* wide defualt checkbox */
.theme switch{
    display: none;
}
/*toggle background */
.toggle label {
    width: 50px;
    height: 25px;
}